body{
    margin: 0;
    padding: 0;
}

.home-page-image{
    height: 450px;
    width: 100%;
}

.img{
    position: relative;
}

.header{
    position: absolute;
    top: 30px;
    left: 150px;
    color: white;
    display: flex;
}

.header-left{
    margin-right: 550px;
}

.header-right{
    font-size: 20px;
    margin: 2px 20px;
    font-weight: 100;
}

.brand-name{
    position: absolute;
    top: 120px;
    left: 40%;
}

.brand-name-img{
    width: 300px;
}

.brand-slogan{
    position: absolute;
    top: 200px;
    left: 300px;
    font-size: 50px;
    color: white;
}